# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

# xcode
DiscreteBucketBrigade.xcodeproj/

# image files
*.png

# text files
*.txt

# csv files
*.csv

# latex files
/DiscreteBucketBrigade/Tex/*.aux
/DiscreteBucketBrigade/Tex/*.fdb_latexmk
/DiscreteBucketBrigade/Tex/*.fls
/DiscreteBucketBrigade/Tex/*.log
/DiscreteBucketBrigade/Tex/*.pdf
/DiscreteBucketBrigade/Tex/*.synctex.gz

# pycharm files
.idea/

# icloud
*.icloud

# tar.gz
*.gz

